/* Login Page Background */
#loginPage{background:url(https://cdn.jsdelivr.net/gh/telebytes/Telebytes-Mod@latest/gradient-bg.jpg)!important}

/* Login Prompt Heading */
#loginPage h1::after {
  content: "🔐 Login 🔐";
  font-size: 40px;
}

/* Changing Telebytes Logo */
.pageTitleWithDefaultLogo {    background-image: url(https://cdn.jsdelivr.net/gh/telebytes/Telebytes-Mod@latest/purple-logo.png) !important;}

/* Changing Home Screen Background */
.withSectionTabs .backgroundContainer{background: url(https://cdn.jsdelivr.net/gh/telebytes/Telebytes-Mod@latest/gradient-bg.jpg) center no-repeat fixed!important;background-size: cover !important;}

/* Remove My Media Heading */
/* #homeTab > div > div.section0 > div > h2 {
    visibility: hidden;
    height: 0;
    overflow: hidden;
} */

/* Chnage home screen icons to white */
.headerTabs .emby-tab-button:not(.emby-tab-button-active) .emby-button-foreground{color:#fff}

/* Remove title if logo present (movies) */
#itemDetailPage .itemName.infoText.parentNameLast>bdi:nth-child(1){display:none}
.hide+.detailPageWrapperContainer .itemName>bdi:nth-child(1){display:block!important}

/* Remove title if logo present (shows) */
#itemDetailPage .parentName>bdi:nth-child(1){display:none}
.hide+.parentName>bdi:nth-child(1){display:block!important}

/* Unknown Changes */
.headerRight,.headerTabs{border-width:0!important;background-color:rgba(var(--white-off),.1)!important}

.headerTabs .material-icons,.headerRight .material-icons{color:#fff!important}

.headerTabs .material-icons:hover, .headerRight .material-icons:hover{color:rgba(var(--accent-off)) !important}

.paper-icon-button-light>.material-icons{font-size:1.2em!important}

.emby-tab-button-active div{color:rgb(var(--darkest))}

.emby-input,.emby-select,.emby-textarea{padding:10px 40px 10px 10px!important;line-height:1.35}

.selectArrowContainer{top:.5em}
